@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Jockey One, sans-serif;
}

h3 {
  text-align: center;
  font-size: 25px;
}

#main {
  display: flex;
  justify-content: center;
  background-color: #345830;
  color: whitesmoke;
  display: grid;
  grid-template-rows: 60px auto 180px;
  width: 380px;
  height: 820px;
  border-radius: 24px;
}

#content {
  overflow: auto;
  height: 620px;
}

.workout-log {
  grid-row-start: 1;
  background-color: #48775b;
  border-radius: 24px 24px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
}

.day1 {
  margin-top: 30px;
}

.day {
  border: 1px solid whitesmoke;
  border-radius: 12px;
  background-color: #48775b;
  width: 350px;
  height: 250px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 5px;
  grid-template-rows: 45px 210px;
  grid-template-columns: 190px 1fr 1fr;
  grid-template-areas:
    "header header header"
    "left middle right";
}

.day h3 {
  grid-area: header;
  text-align: center;
  line-height: 45px;
}

label {
  margin-left: 10px;
  font-size: 18px;
}

.exercise-input {
  display: block;
  grid-area: left;
  width: 11rem;
  height: 1.5rem;
  margin-bottom: 5px;
  margin-left: 10px;
}

.rep-input {
  display: block;
  grid-area: middle;
  width: 70px;
  height: 1.5rem;
  margin-bottom: 5px;
}

.weight-input {
  display: block;
  grid-area: right;
  width: 63px;
  height: 1.5rem;
  margin-bottom: 5px;
}

button {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  border-radius: 6px;
  border: 1px solid #74b807;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}
button:hover {
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color: #77a809;
}
button:active {
  position: relative;
  top: 1px;
}
